



/* nav.navbar.navbar-default {
    margin-bottom: 0;
  } */

  /* .newNav { */
    /* margin-bottom: 0; */
  /* } */
  
  
  .newNav {
    width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  }
  .newNav .container,
.newNav .container-fluid,
.newNav .container-lg,
.newNav .container-md,
.newNav .container-sm,
.newNav .container-xl,
.newNav .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

  