:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.newNav , .bg-green {
  background-color: #CE5A67;
  width: 100vw;

}

.navbar-brand {
  color: black;
  font-weight: 20px;
}

.nav-link {
  color: #F4BF96;
  font-weight: 20px;
}

.gradient-button {
  background-image: linear-gradient(to right, #F4BF96, #CE5A67);
  border: #1F1717;
  color: white;

}

.larger-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.icon {
  width: 47px;
}

.home-container {
  flex: auto;
  margin: 75px 75px 0 75px;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.about-container {
  flex: auto;
  margin-top: 80px;

}

.contact-container {
  flex: auto;
  margin: 75px 75px 0 75px
 


}
.contact-container {
  padding-top: 110px; 
  /* border: 10px solid red; */
}

.form-control {
  width: 55%;
  /* border: 1px solid blue; */
  
}

.contact-container .form-control {
  border-radius: 0; 
}

/* Adjusting form width */
.contact-container .form-control,
.contact-container .form-label {
    width: 44%; 
}

.contact-container #floatingNameInput .form-control {
  width: 22%;
}



.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.form-container {
  /* grid-column: span 1;  */
  /* Occupy 1 column */
}

.readme-generator .project-card {
  background-color: #213547;
}



/* .button-container {
  display: grid;
  grid-row: 1 / span 3; /* Span 3 rows */
/* } */ 

.button {
  margin-bottom: 13px; 
  margin-left: 100px;
}

@media (max-width: 768px) {
  .button-container {
    grid-row: auto; /* Reset grid row */
  }
}


.button-3 {
  width: 150px;
  background-color:#011B2B;
  border:#011B2B;
}

.button-1, .button-2, .button-3 {
  width: 150px;
  margin-left: 828px;
  /* margin-top: -288px; */
  margin-bottom: 100px;
border-radius: 7px;
}






.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
   margin-top: -99px; 
  position: relative; /* Ensure the container has a position other than static */
  top: -150px;
 margin-bottom: 10px;

  
  /* padding-left: 777px;
  padding-bottom: 5px; */
}

.button-container .btn {
  background-color: #F4BF96 !important;
  border-color: #F4BF96 !important;
  width: 258px;
  font-family: shine-font;
  color: #1F1717;
}

@media (max-width: 768px) {
  .form-container {
    flex-basis: 100%; /* Take up full width */
    margin-right: 0; /* Remove margin */
    margin-bottom: 20px;
  }
  .button-container {
    flex-basis: 100%; /* Take up full width */
    margin-top: 20px;
  }
}




.me-3 {
  width: 200px;
}


.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.project-card {
  /* margin: 10px; */
  height: 260px;
  margin: 10px;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-top: 41px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #F4BF96, #CE5A67);
}

.card-text {
  text-align: center;
  margin-top: 63px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-card img[alt="iconcard"] {
  width: 21px; /* Adjust the width as needed */
  height: 21px; /* Adjust the height as needed */
  margin-right: 20px; /* Adjust the margin as needed */
  
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.larger-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
  background-color: #FCF5ED;
  /* font-family: 'Libre Caslon Display', serif; */
}


footer.footer.py-3 {
  background-color: #1F1717;
  width: 100%;
}

